<app-header></app-header>
<div class="home-view">
    <div class="main-content">
        <div>
            <h1>A beatiful adventure awaits</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt facilisis nunc</h3>
            <div>
                <button class="buy-tickets-btn">Buy Tickets</button>
                <button class="learn-more-btn">Learn More</button>
            </div>
        </div>
    </div>
    <img src="/assets/images/garden.png">
</div>
<div class="discover-yourself-block">
    <div class="plant-content-wrapper">
        <img src="/assets/images/plant.png">
        <div>
            <h1>Discover yourself with nature</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Tincidunt facilisis nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Tincidunt facilisis nunc</h3>
            <button class="learn-more-btn">Learn More</button>
        </div>
    </div>
    
    <img src="/assets/images/sofa.png">
    
</div>
